
<div class="container">
  <h1>FLats</h1>
  <div class="page d-flex flex-wrap">

    <% @flats.each do |flat| %>
      <div class="card p-3 m-3">
        <h2> <%= flat.name %> </h2>
        <p> <%= flat.address %> </p>
        <p> <%= flat.description %> </p>
        <p> <i class="fa-solid fa-user-group"></i> <%= flat.number_of_guests %> </p>
        <p> <i class="fa-solid fa-euro-sign"></i> <%= flat.price_per_night %> </p>
      </div>
    <% end %>

  </div>

</div>
